matrix:
  server:
    # Server's base url, without trailing /
    base_url:         'https://matrix.org'
    valid_cert_check: true

  login:
    # username is also used as the id that the bot will be known as
    #  (eg. to make sure it ignores its own messages)
    #  so make sure it's of the form @user:host
    username: '@xmpp-bot-username:matrix.org'
    password: '<my_matrix_password>'

  # Users who will be invited to all of the bot's rooms
  users_to_invite:
    - '@owner:matrix.org'

  # Topics set in the special rooms, used by the bot to recognize these rooms.
  room_topics:
    control:  'xmpp-bot-control'
    all_chat: 'xmpp-bot-all_chat'

  # Groupchats will have a topic starting with this string.
  #  Ideally, this should include some characters which are illegal in JIDs
  #   (e.g. <>*&') so that it won't ever be confused for a JID
  groupchat_flag: '<groupchat>'
  
  # should be false, when you want to set names of rooms
  restore_room_topic: true


xmpp:
  server:
    host: talk.google.com
    port: 5222

  login:
    # JID should be of the form of what@where.net
    jid:      'myname@gmail.com'

    # If you use 2-factor auth with google, you'll need to generate an app password for here
    password: '<myXMPPpassword>'

  roster_options:
    # Automatically accept any buddy requests
    auto_authorize: true
    # Automatically add and buddy who asks
    auto_subscribe: true

  groupchat_nick: 'my_groupchat_name'

# Send presence notices to the control channel
send_presences_to_control: true

# Send a copy of all messages to the all_chat channel
send_messages_to_all_chat: true

# Ignore any groupchat messages that were sent by our own nick
groupchat_mute_own_nick: true
